* {
  box-sizing: border-box;
}

html,
body,
main,
.content {
  height: 100%;
}

h2,
h3 {
  color: #444c63;
  font-family: Arial, sans-serif;
}

h3 {
  margin: 0;
}

body {
  background: url("../img/space.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.main-box {
  display: inline-flex;
  background-color: rgba(229, 229, 229, 0.3);
  padding: 30px 30px 0;
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid rgba(229, 229, 229, 0.2);
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.5);
  flex-shrink: 1;
  flex-basis: 40%;
  flex-direction: column;
}

.title-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 0.6);
  padding: 5%;
  border-radius: 5px;
  border: 2px solid rgba(229, 229, 229, 0.4);
}

.title-main-header {
  display: flex;
}

.cat-breed {
  text-transform: capitalize;
}

.fa-heart {
  margin-top: 25px;
  margin-left: 20px;
  font-size: large;
  color: #444c63;
}

.btn-generate {
  min-width: 120px;
  border-radius: 5px;
  display: flex;
  background-color: #ffe5ed;
  box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.5);
  margin-top: auto;
  align-items: center;
  align-self: center;
}

.btn-generate:hover {
  background-color: #cfb5bd;
  cursor: pointer;
}

.btn-generate img {
  height: 30px;
  padding-right: 4%;
  padding-left: 5%;
}

.btn-text {
  font-family: Arial, sans-serif;
  color: dimgray;
  font-size: small;
}

.share {
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.share .fa {
  padding: 5px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  cursor: pointer;
}

.share .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #481372;
  color: white;
}

.fa-twitter {
  background: #b487b7;
  color: white;
}

.fact-body {
  font-family: Arial, sans-serif;
  color: #444c63;
  line-height: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.img-box {
  display: inline-flex;
  justify-content: space-around;
  flex-shrink: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.img-box div {
  width: 50%;
}

.img-box img {
  max-width: calc(100% - 20px);
  max-height: 215px;
  margin: 0 10px 10px;
  border: 10px solid rgba(229, 229, 229, 0.5);
  border-radius: 5px;
}

@media screen and (max-width: 910px) {
  .content {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .main-box {
    margin: 10px 0 0;
    width: 90%;
  }

  .img-box {
    margin-top: 10px;
    justify-content: space-around;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 550px) {
  .img-box div {
    width: 100%;
  }

  .img-box img {
    max-height: 100%;
  }
}
